go 1.25.0

use (
	.
	./adapters/compression/stdlib
	./adapters/email/sendgrid
	./adapters/email/ses
	./adapters/email/smtp
	./adapters/files/gcs
	./adapters/files/s3
	./adapters/payment/stripe
	./adapters/persistence/inmemory
	./adapters/search/elasticsearch
	./adapters/search/opensearch
	./adapters/sms/twilio
	./adapters/tracing/otel
)
