go 1.25

use (
	.
	./examples/inmemory-repository
	./adapters/cache/redis
	./adapters/compression/stdlib
	./adapters/email/sendgrid
	./adapters/email/ses
	./adapters/email/sesv2
	./adapters/email/smtp
	./adapters/files/gcs
	./adapters/files/s3
	./adapters/payment/stripe
	./adapters/persistence/inmemory
	./adapters/push/fcm
	./adapters/queue/rabbitmq
	./adapters/queue/sqs
	./adapters/secrets/awsssm
	./adapters/secrets/vault
	./adapters/search/elasticsearch
	./adapters/search/opensearch
	./adapters/sms/twilio
	./adapters/tracing/otel
)
